* {
    margin: px;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    margin-left: 15px;

}
body {
    background: url(./rain2.gif) repeat;
    background-size: cover;
    height: 100vh;
}
.wrapper {
    margin: auto;
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    margin-top: 50px; 
    width: 100%;
    background: url(./unnamed.jpg) no-repeat;
    background-size: cover;
    border: 2px solid wheat;
    margin-bottom: 50px;
} 
.header ul{ list-style-type: none;
    padding-top: 35px;
}
.header img {
    width: 25%;
    float: right;
    padding: 15px;
}
.header h1{
    padding-top: 25px;
}
.header li{
    margin-top: 25px;
}
.ebln{
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
}